- let pageTitle = 'Home'
- let currentPage = 'home'
- let siteTitle = 'ABC'
-
    let pages = [
        {
            title:'Home',
            url:'/'
        },
        {
            title:'SignIn',
            url:'signIn'
        },
        {
            title:'SignUp',
            url:'signUp'
        }
    ]