extends template/template
block content
    //- h1= `${currentPage}`
    .container
        img(src="./img/img_1.jpg", alt="")
        div(class="back btn") <<
        div(class="next btn") >>
    script(src="/assets/js/scripts.js")