extends template/template
block content
    //- h1= `${currentPage}`
    .container
        div(class="back btn") ◀
        div(class="next btn") ▶
        img(src="./img/img_1.jpg", alt="")
    script(src="/assets/js/scripts.js")