extends template/template
block content
    //- h1= `${currentPage}`
    .container
        img(src="./img/img_1.jpg", alt="")
        //- .back <<
        //- .next >>
    script(src="/assets/js/scripts.js")