extends template/template
append config
    - pageTitle = 'Profile'
    - currentPage = 'profile'
block content
    //- h1= `${currentPage}`
    h1.title Choose a Product
    .kitchen
    .closet
    .wardrobe