extends template/template
append config
    - pageTitle = 'User'
    - currentPage = 'user'
block content
    //- h1= `${currentPage}`
    h1.title Choose a Product
    .gallery-container
        - let arr = ['kitchen','close','wardrobe']
        - for(let i=0;i<3;i++)
            .product
                div(class=`${arr[i]}`)
                a(href="#")= `${arr[i]}`
