extends template/template
append config
    - pageTitle = 'User'
    - currentPage = 'user'
block content
    //- h1= `${currentPage}`
    h1.title Choose a Product
    .gallery-container
        - let arr = ['kitchen','closet','wardrobe']
        - for(let i=0;i<3;i++)
            .product
                img(src=`assets/img/img_${(i+1)}.jpg`)
                a(href="#")= `${arr[i]}`
