form(action="/login" method="POST" class="box")
    h1 Login
    input(type="text" name="email" placeholder="Email")
    input(type="password" name="pass" placeholder="Password")
    input(type="submit" name="" value="Login")