form(action="/" method="get" class="box")
    h1 Login
    input(type="text" name="" placeholder="Email")
    input(type="password" name="" placeholder="Password")
    input(type="submit" name="" value="Login")