form(action="/signIn" method="POST" class="box")
    h1 SignIn
    input(type="email" name="email" placeholder="Email")
    input(type="password" name="pass" placeholder="Password")
    input(type="submit" name="" value="Login")