form(action="/signUp" method="POST" class="box")
    h1 SignUp
    input(type="text" name="name" placeholder="Name")
    input(type="text" name="patternalSurname" placeholder="Patternal Surname")
    input(type="text" name="matternalSurname" placeholder="Matternal Surname")
    input(type="text" name="dni" placeholder="DNI")
    input(type="text" name="phoneNumber" placeholder="Phone Number")
    input(type="email" name="email" placeholder="Email")
    input(type="password" name="pass" placeholder="Password")
    input(type="submit" name="" value="Create an account")